<div class="card" style="width: 50%;" >
  <div class="card-body">
    <h1 class="card-title">Login</h1>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      >
      <div class="mb-3">
        <label for="email"><h6>Email</h6></label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          placeholder="email"
          />
        @if ((email.touched && email.invalid)||(f.submitted && email.invalid)) {
          <div class="alert-danger">
            @if (email.errors?.['required']) {
              <div>Email is required</div>
            }
            @if (email.errors?.['email']) {
              <div>
                Email must be a valid email address
              </div>
            }
          </div>
        }
      </div>
      <div class="mb-3">
        <label for="password"><h6>Password</h6></label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          #password="ngModel"
          placeholder="pasword"
          />
        @if ((password.touched && password.invalid)||(f.submitted && password.invalid)) {
          <div
            class="alert alert-danger"
            role="alert"
            >
            @if (password.errors?.['required']) {
              <div>Password is required</div>
            }
          </div>
        }
      </div>
      <div class="mb-3">
        <button class="btn btn-primary ">
          Login
        </button>
      </div>

    </form>
    <div class="mb-3">
      <button
        (click)="loginWithGoogle()"
      class="btn btn-primary">Login with google</button>
    </div>
    <div class="mb-3">
      @if (isLoginFailed) {
        <div
          class="alert alert-danger"
          role="alert"
          >
          Login failed: {{ errorMessage }}
        </div>
      }
    </div>
  </div>
</div>
