<div class="row">
  <div class="col-xl-6">
    <form  name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate>
      <div class="mb-3">
        <label for="title">Title</label>
        <input  [(ngModel)]="form.title" [disabled]="isTitleNonEditable" #title="ngModel" name="title" id="title" type="text" class="form-control" required >
        @if ((title.touched && title.invalid)||(f.submitted && title.invalid)) {
          <div class="alert alert-danger">
            Title is required.
          </div>
        }
      </div>
      <div class="mb-3">
        <label for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input [(ngModel)]="form.price"   #price="ngModel" name="price" id="price" type="number"  class="form-control" required   min="0"/>
        </div>
        @if ((price.touched && price.invalid)||(f.submitted && price.invalid)) {
          <div class="alert alert-danger">
            @if (price.errors?.['required']) {
              <div>Price is required</div>
            }
            @if (price.errors?.['min']) {
              <div>
                Price must be greater than 0.
              </div>
            }
          </div>
        }
      </div>
      <div class="mb-3">
        <label for="category">Category</label>
        <select  [(ngModel)]="form.category"  #category="ngModel" name="category" id="category"  class="form-select" required>
          <option value=""></option>
          @for (c of categoryList; track c.type) {
            <option [value]="c.type">
              {{c.name}}
            </option>
          }
        </select>
        @if ((category.touched && category.invalid)||(f.submitted && category.invalid)) {
          <div class="alert alert-danger">
            Category is required.
          </div>
        }
      </div>
      <div class="mb-3">
        <label for="imageurl">Image Url</label>
        <input [(ngModel)]="form.imageurl"  #imageurl="ngModel" name="imageurl" id="imageurl" type="text" class="form-control" required url >
        @if ((imageurl.touched && imageurl.invalid)||(f.submitted && imageurl.invalid)) {
          <div class="alert alert-danger">
            Image Url is required.
          </div>
        }
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Save</button>
        <span>&nbsp;</span>
        @if (form.productid) {
          <span  >
            <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
          </span>
        }
      </div>
      @if (f.submitted && isSaveFailed) {
        <div class="alert alert-warning"  role="alert">
          Save New Product failed: !<br />{{ errorMessage }}
        </div>
      }
    </form>
    @if (isSuccessful) {
      <div class="alert alert-success">
        {{succesMessage}}
      </div>
    }
  </div>
  <div class="col-mid-6 offset-1">
    <div class="card" >
      @if (imageurl.value) {
        <div>
          <img class="card-img-top" src="{{imageurl.value}}" >
        </div>
      }
      <div class="card-body">
        <h5 class="card-title">{{title.value}}</h5>
        <p class="card-text">{{price.value | currency:'USD'}}</p>
      </div>
    </div>
  </div>
</div>

