<div class="card" >
  <div class="card-body">
    <h1 class="card-title">Shopping Cart</h1>
    <p>
      You have {{cartItemCount}} items in your shopping cart.
      @if (cartItemCount > 0) {
        <button
          (click)="clearCart()"
        class="float-end btn btn-primary btn-sm">Clear Shopping Cart</button>
      }
    </p>
    @if (cart) {
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Product</th>
            <th >Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        @for (p of cart.products; track p.productid) {
          <tr>
            <td>
              <div [style.backgroundImage]="'url('+p.imageurl+')'" class="thumbnail"></div>
              <!-- <img [src]="p.imageurl" class="thumbnail"> -->
            </td>
            <td>{{p.title}}</td>
            <td>
              <!-- <div class="card-footer"> -->
              <div class="row g-0">
                <div class="col-4">
                  <button
                    (click)="removeFromCart(p)"
                  class="btn btn-secondary w-100">-</button>
                </div>
                <div class="col-4 text-center">
                  {{p.quantity}}
                </div>
                <div class="col-4">
                  <button (click)="addToCart(p)" class="btn btn-secondary w-100">+</button>
                </div>
              </div>
            <!-- </div> -->
          </td>
          <!-- <td>{{p.quantity * p.price}}</td> -->
          <td>{{getItemTotalPrice(p)|currency:'USD'}}</td>
        </tr>
      }
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>{{totalPrice|currency:'USD'}}</th>
        </tr>
      </tfoot>
    </table>
    @if (cartItemCount > 0) {
      <button
        routerLink="/check-out"
      class="btn btn-primary">Check Out</button>
    }
  }
</div>
</div>
