<h1>My Orders</h1>
@if (userorders) {
  <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  >
    <thead>
      <tr>
        <th>Orderid</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (o of userorders; track o.orderid) {
        <tr>
          <td>{{o.orderid}}</td>
          <td>{{transformDate(o.orderdate)}}</td>
          <td>
            <a [routerLink]="['/order-success/',o.orderid]">View</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
@if (!userorders) {
  <h3>You have no past orders!!</h3>
}

