
<div class="row">
  <div class="col-4">
    <div class="sticky-top">
      <div class="list-group">
        <a  class="list-group-item list-group-item-action"
          [class.active]="!category"
          routerLink="/"
          >
          All Categories
        </a>
        @for (c of categoryList; track c.type) {
          <a
            routerLink="/"
            [queryParams]="{category : c.type}"
            class="list-group-item list-group-item-action"
            [class.active]="category === c.type">
            {{c.name}}
          </a>
        }
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      @for (p of filteredProducts; track p.productid; let i = $index) {
        <div class="col">
          <div class="card">
            <!-- <div class="card" style="width: 100%;"> -->
            <img class="card-img-top" [src]="p.imageurl" alt="{{p.title}}">
            <div class="card-body">
              <h4 class="card-title">{{p.title}}</h4>
              <p class="card-text">{{p.price | currency:'USD'}}</p>
              <div class="card-footer">
                @if (p.quantity == 0) {
                  <button
                  (click)="addToCart(p)" class="btn btn-secondary w-100">Add to Cart</button>
                } @else {
                  <div class="row g-0">
                    <div class="col-4">
                      <button
                        (click)="removeFromCart(p)"
                      class="btn btn-secondary w-100">-</button>
                    </div>
                    <div class="col-4 text-center">
                      {{p.quantity}}
                    </div>
                    <div class="col-4">
                      <button (click)="addToCart(p)" class="btn btn-secondary w-100">+</button>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        @if ((i+1)%2===0) {
          <div class="w-100"></div>
        }
      }
    </div>
  </div>
</div>


